/* src/styles/layout.module.css */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-16);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.stackLg {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.grid {
  display: grid;
  gap: var(--space-24);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}